<div class="form-item">
  <label *ngIf="itemObj.label" class="subtitle">
    {{ itemObj.label | translate }}
  </label>
  <input
    #selectBtn
    nbInput
    fullWidth
    type="text"
    class="select-btn"
    [readonly]="true"
    [disabled]="itemObj.disabled"
    [placeholder]="modalBtnText | translate"
    [value]="hasValue() ? (modalBtnText | translate) : ''"
    (click)="open()"
    (keyup.enter)="open()"
  />
  <dynamic-form-errors
    class="form-errors"
    [formInterface]="control"
    [formkey]="itemObj.label | translate"
  >
  </dynamic-form-errors>
</div>
