<button *ngIf="value == 'Completed'" nbButton [status]="'success'" hero>Completed</button>

<button *ngIf="value == 'Pending'" nbButton [status]="'warning'" hero>Pending</button>

<button *ngIf="value == 'Rejected'" nbButton [status]="'danger'" hero>Rejected</button>
