<nb-card accent="info">
    <nb-card-header *ngIf="user"> {{ user.firstName }}  {{user.lastName}}</nb-card-header>
  
    <nb-card-body>
      <data-view
        *ngIf="user"
        [data]="user"
        [viewFields]="userViewFields"
      >
      </data-view>
    </nb-card-body>
  </nb-card>
  