<nb-card accent="warning">
    <nb-card-header *ngIf="contact"> {{ user.firstName }} {{user.LastName}}</nb-card-header>
  
    <nb-card-body>
      <dynamic-form
        *ngIf="contact"
        [formObj]="dynamicForm"
        [submitButtonTextContent]="submitButtonTextContent"
        (dfSubmit)="onSubmit($event)"
      ></dynamic-form>
    </nb-card-body>
  </nb-card>
  