<div class="form-item" [formGroup]="parentControl">
    <label *ngIf="itemObj.label" class="subtitle">
        {{ itemObj.label }}
    </label>
    <ngx-intl-tel-input
        [formControlName]="key"
        [cssClass]="'custom-phone-input-class'"
        [preferredCountries]="[CountryISO.UnitedStates, CountryISO.UnitedKingdom]"
        [enableAutoCountrySelect]="true"
        [enablePlaceholder]="true"
        [searchCountryFlag]="true"
        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
        [selectFirstCountry]="false"
        [selectedCountryISO]="CountryISO.India"
        [maxLength]="15"
        [tooltipField]="TooltipLabel.Name"
        [phoneValidation]="true"
    >
    </ngx-intl-tel-input>
    <dynamic-form-errors class="form-errors" [formInterface]="control" [formkey]="itemObj.label">
    </dynamic-form-errors>
</div>
