.dialog {
    min-width: 40vw;
}

.message-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 1.5rem;
}

.button-container {
    & > *:first-child {
        width: 60%;
    }

    & > *:last-child {
        width: 30%;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
