<nb-card class="dialog">
    <nb-card-header>
        <div class="title-container">
            {{ title }}
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="message-container">
            {{ message }}
        </div>

        <div class="button-container">
            <button #confirmBtn nbButton status="primary" size="small" (click)="confirm()">
                {{ "confirm" | translate }}
            </button>

            <button #cancelBtn nbButton outline status="basic" size="small" (click)="dismiss()">
                {{ "cancel" | translate }}
            </button>
        </div>
    </nb-card-body>
</nb-card>
