<nb-form-field>
    <nb-icon nbPrefix icon="arrowhead-up-outline" pack="eva"></nb-icon>
    <input fullWidth nbInput type="number" [placeholder]="morePlaceholder" [formControl]="moreInputControl" />
</nb-form-field>

<nb-form-field>
    <nb-icon nbPrefix icon="arrowhead-down-outline" pack="eva"></nb-icon>
    <input fullWidth nbInput type="number" [placeholder]="lessPlaceholder" [formControl]="lessInputControl" />
</nb-form-field>
