<nb-form-field>
    <nb-icon nbPrefix icon="calendar-outline" pack="eva"></nb-icon>
    <input
        nbInput
        fullWidth
        fieldSize="small"
        [formControl]="minDateInputControl"
        [nbDatepicker]="mindatepicker"
        placeholder="{{ minPlaceholder }}"
    />
</nb-form-field>

<nb-form-field>
    <nb-icon nbPrefix icon="calendar-outline" pack="eva"></nb-icon>
    <input
        nbInput
        fullWidth
        fieldSize="small"
        [formControl]="maxDateInputControl"
        [nbDatepicker]="maxdatepicker"
        placeholder="{{ maxPlaceholder }}"
    />
</nb-form-field>

<nb-datepicker #mindatepicker></nb-datepicker>
<nb-datepicker #maxdatepicker></nb-datepicker>
