<nb-card accent="success">
  <nb-card-header> {{ "add_user" | translate }} </nb-card-header>

  <nb-card-body>
    <dynamic-form
      [formObj]="dynamicForm"
      [submitButtonTextContent]="submitButtonTextContent"
      (dfSubmit)="onSubmit($event)"
    ></dynamic-form>
  </nb-card-body>
</nb-card>
