<div class="form-item" [formGroup]="parentControl">
    <label *ngIf="itemObj.label" class="subtitle">
        {{ itemObj.label }}
    </label>
    <nb-checkbox
        [formControlName]="key"
        [checked]="itemObj.context.checked"
        (change)="onCheckChange($event)"
    >
        {{ itemObj.label || "Check it" }}
    </nb-checkbox>
    <dynamic-form-errors class="form-errors" [formInterface]="control" [formkey]="itemObj.label">
    </dynamic-form-errors>
</div>
