@import "~@nebular/theme/styles/theming";
@import "~@nebular/theme/styles/themes";

.auth-container {
    padding: 0 25% !important;
    box-sizing: border-box !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
