<div class="form-item" [formGroup]="parentControl">
    <label *ngIf="itemObj.label" class="subtitle">
        {{ itemObj.label }}
    </label>
    <input nbInput fullWidth [formControlName]="key" [nbDatepicker]="rangepicker" />
    <nb-rangepicker #rangepicker></nb-rangepicker>

    <dynamic-form-errors class="form-errors" [formInterface]="control" [formkey]="itemObj.label">
    </dynamic-form-errors>
</div>
