.dialog {
    position: relative;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75vh;
    width: 75vw;
}

.card-body {
    & > div {
        padding: 1rem 0;
    }
}

.error-container {
    padding: 0 3rem;
    margin: 0.5rem 0;
}

.btn-container {
    & > *:first-child {
        width: 60%;
    }

    & > *:last-child {
        width: 30%;
    }

    margin: 0.7rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
