<div class="dialog">
    <nb-card class="card">
        <nb-card-header>{{ title }}</nb-card-header>
        <nb-card-body class="card-body">
            <form [formGroup]="form">
                <div>
                    <ng-template ngxItemHost></ng-template>
                    <div class="error-container">
                        <dynamic-form-errors
                            class="form-errors"
                            [formInterface]="form"
                            formkey="main"
                        >
                        </dynamic-form-errors>
                    </div>
                </div>

                <div class="btn-container">
                    <button
                        #submitBtn
                        nbButton
                        status="success"
                        type="button"
                        [disabled]="form.invalid"
                        (click)="confirm()"
                    >
                        {{ submitTxt || "Submit" }}
                    </button>
                    <button
                        #cancelBtn
                        nbButton
                        outline
                        status="basic"
                        type="button"
                        (click)="dismiss()"
                    >
                        Cancel
                    </button>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</div>
