@import "~@nebular/theme/styles/theming";
@import "~@nebular/theme/styles/themes";

.dialog {
    position: fixed;
    min-width: 30vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__spinner {
        position: relative;
        height: 8rem;
    }

    &__text {
        position: relative;
        text-align: center;
        padding: 1rem 2rem;
    }
}
