<nb-card class="dialog">
    <nb-card-body>
        <div class="dialog__spinner">
            <ngx-spinner
                [bdColor]="spinnerConfig.bdColor"
                [color]="spinnerConfig.color"
                [type]="spinnerConfig.type"
                [size]="spinnerConfig.size"
                [fullScreen]="spinnerConfig.fullScreen"
            >
            </ngx-spinner>
        </div>
        <div class="dialog__text text-hint subtitle-2">
            {{ message }}
        </div>
    </nb-card-body>
</nb-card>
