<a [href]="value" target="_blank" class="link paragraph-2">
    <span class="link__icon">
        <nb-icon icon="link-2-outline"></nb-icon>
    </span>
    <span class="link__text">
        {{ value }}
    </span>
</a>
