@import "~@nebular/theme/styles/theming";
@import "~@nebular/theme/styles/themes";

.link {
    display: block;
    color: nb-theme(color-primary-500);
    position: relative;
    padding: 1rem 0;

    &__icon {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 1.7rem;
        transform: translateY(-50%);
    }
}

.link:hover .link__text {
    text-decoration: underline;
}
