<form [formGroup]="form">
    <div>
        <ng-template ngxItemHost></ng-template>
        <div class="error-container">
            <dynamic-form-errors class="form-errors" [formInterface]="form" formkey="main">
            </dynamic-form-errors>
        </div>
    </div>

    <app-dynamic-form-button
        *ngIf="!hideSubmitButton"
        [associatedForms]="{ main: formObj }"
        [textContent]="submitButtonTextContent"
        [disabled]="disabled"
        [transformFn]="transformFn"
        (dfSubmit)="onSubmit($event)"
    ></app-dynamic-form-button>
</form>
