@import "~@nebular/theme/styles/theming";
@import "~@nebular/theme/styles/themes";

.buttons-container {
    width: 100;
    padding: 2rem 3rem;
    border-top: 1px solid nb-theme(color-basic-400);
    margin: auto;
}

.error-container {
    padding: 0 3rem;
    margin: 0.5rem 0;
}
