<nb-card class="dialog">
    <nb-card-body>
        <div class="dialog__text text-hint subtitle-2">
            {{ message }}
        </div>
        <div class="dialog__progress">
            <nb-progress-bar
                [value]="isObservabel(value) ? (value | async) : value"
                status="primary"
                size="tiny"
            ></nb-progress-bar>
        </div>
    </nb-card-body>
</nb-card>
