@import "~@nebular/theme/styles/theming";
@import "~@nebular/theme/styles/themes";

.dialog {
    position: fixed;
    width: 40vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 1rem;

    &__progress {
        position: relative;
        padding: 2rem 0;
    }

    &__text {
        position: relative;
        text-align: center;
        padding: 1rem 2rem;
    }
}
