<div class="form-item" [formGroup]="parentControl">
    <label *ngIf="itemObj.label" class="subtitle">
        {{ itemObj.label }}
    </label>
    <input
        nbInput
        fullWidth
        [readonly]="true"
        [placeholder]="context.placeholder | date: 'MMM d, y'"
        [formControlName]="key"
        [nbDatepicker]="datepicker"
    />
    <nb-datepicker #datepicker></nb-datepicker>

    <dynamic-form-errors class="form-errors" [formInterface]="control" [formkey]="itemObj.label">
    </dynamic-form-errors>
</div>
