<div class="form-item" [formGroup]="parentControl">
    <label *ngIf="itemObj.label" class="subtitle">
        {{ itemObj.label }}
    </label>
    <nb-select multiple [formControlName]="key" [placeholder]="itemObj.context.placeholder">
        <nb-option *ngFor="let option of itemObj.context.options" [value]="option.value">
            {{ option.view }}
        </nb-option>
    </nb-select>
    <dynamic-form-errors
        class="form-errors"
        [formInterface]="parentControl"
        [formkey]="itemObj.label"
    >
    </dynamic-form-errors>
</div>
