<nb-card class="login-form">
  <nb-card-body class="login-form__container">
    <div class="login-form__header">
      <p class="login-form__title">Please Login</p>
      <!--
                <div class="login-form__error" *ngIf="showError">{{ errorMsg }}</div>
                
            -->
    </div>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="login-form__group"
    >
      <nb-form-field class="login-form__field">
        <!-- (keypress)="checkifNumber($event)" -->
        <input
          nbInput
          fullWidth
          fieldSize="large"
          type="text"
          placeholder="Phone Number"
          formControlName="phoneNumber"
          type="text"
          ngModel
          [class]="
            loginForm.controls.phoneNumber.valid === true ? 'success-entry' : ''
          "
        />
      </nb-form-field>

      <nb-form-field class="login-form__field">
        <input
       
          nbInput
          fullWidth
          fieldSize="large"
          required
          [type]="getInputType()"
          placeholder="Password"
          formControlName="password"
          type="password"
          ngModel
          
          pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[!@#$%^&?]).*$"
          [class]="ValidatePassword()"
        />
        <button
          nbSuffix
          nbButton
          ghost
          type="button"
          (click)="toggleShowPassword()"
        >
          <nb-icon
            [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
            pack="eva"
            [attr.aria-label]="showPassword ? 'hide password' : 'show password'"
          >
          </nb-icon>
        </button>
      </nb-form-field>

      <div
        *ngIf="
          loginForm.controls.password.invalid === true &&
          loginForm.controls.password.value !== ''
        "
      >
        <p class="error-msg">
          At least 1 (big,small,number,speceial charecter)
        </p>
      </div>

      <div class="login-form__btn">
        <button
          [disabled]="loginForm.invalid === true"
          nbButton
          fullWidth
          status="primary"
          type="submit"
        >
          Login
        </button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
