@import "~@nebular/theme/styles/theming";
@import "~@nebular/theme/styles/themes";
.wrong-entry{
    border:1px solid red !important;
}
.success-entry{
    border:1px solid rgb(1, 148, 1) !important;
}
.error-msg{
    color:red ;
    font-size: 0.75rem;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: .3;

}
.login-form {
    min-height: 25rem;
    width: 50vw;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &__group {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        transform: translateY(-2rem);
    }

    &__btn {
        width: 25%;
        transform: translateY(2rem);
    }

    &__field {
        width: 75%;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    &__title {
        font-size: 3rem;
    }

    &__error {
        font-size: 1.2rem;
        color: nb-theme(color-danger-500);
    }
}
