<div
    *ngIf="
        formInterface &&
        formInterface.touched &&
        formInterface.errors &&
        keys(formInterface.errors)?.length
    "
>
    <div *ngFor="let error of keys(formInterface.errors)">
        <div [ngSwitch]="error">
            <div @fadeIn *ngSwitchCase="'email'">
                <nb-alert status="danger" class="error">
                    "{{ formInterface.value }}" is not a valid email
                </nb-alert>
            </div>

            <div @fadeIn *ngSwitchCase="'required'">
                <nb-alert status="danger" class="error"> "{{ formkey | translate }}" cannot be empty </nb-alert>
            </div>

            <div @fadeIn *ngSwitchCase="'maxlength'">
                <nb-alert status="danger" class="error">
                    "{{ formkey | translate }}" must be less than
                    {{ formInterface.errors[error].requiredLength }} characters
                </nb-alert>
            </div>

            <div @fadeIn *ngSwitchCase="'minlength'">
                <nb-alert status="danger" class="error">
                    "{{ formkey | translate }}" must be more than
                    {{ formInterface.errors[error].requiredLength }} characters
                </nb-alert>
            </div>

            <div @fadeIn *ngSwitchCase="'pattern'">
                <nb-alert status="danger" class="error">
                    "{{ formkey | translate }}" is not valid, required pattern
                    {{ formInterface.errors[error].requiredPattern }}
                </nb-alert>
            </div>

            <div @fadeIn *ngSwitchCase="'validatePhoneNumber'">
                <nb-alert status="danger" class="error">
                    "{{ formInterface.value.number }}" is not a valid phone number
                </nb-alert>
            </div>

            <div @fadeIn *ngSwitchCase="'min'">
                <nb-alert status="danger" class="error">
                    "{{ formkey | translate }}" must be greater than or equal to ({{
                        formInterface.errors[error].min
                    }})
                </nb-alert>
            </div>

            <div @fadeIn *ngSwitchCase="'max'">
                <nb-alert status="danger" class="error">
                    "{{ formkey | translate }}" must be less than or equal to ({{
                        formInterface.errors[error].min
                    }})
                </nb-alert>
            </div>

            <div @fadeIn *ngSwitchDefault>
                <nb-alert status="danger" class="error">
                    {{ formInterface.errors[error] }}
                </nb-alert>
            </div>
        </div>
    </div>
</div>
