<nb-card accent="danger" class="dialog">
    <nb-card-header>
        <div class="title-container">
            {{ error }}
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="message-container">
            {{ message }}
        </div>

        <div class="button-container">
            <button nbButton outline status="basic" size="small" (click)="dismiss()">
                {{ "cancel" | translate }}
            </button>
        </div>
    </nb-card-body>
</nb-card>
