.dialog {
    position: fixed;
    min-width: 40vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 1.5rem;
}

.button-container {
    & > * {
        width: 30%;
    }

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1rem;
}
