<ng-template #img let-data let-ref="dialogRef">
    <nb-card class="image-modal">
        <nb-card-header class="image-modal__header">
            <span class="subtitle">
                {{ value.title }}
            </span>
            <nb-icon
                icon="close-circle-outline"
                status="danger"
                class="image-modal__close"
                (click)="close()"
            ></nb-icon>
        </nb-card-header>
        <nb-card-body class="image-modal__body">
            <img *ngIf="value.url" class="image-modal__field" [src]="value.url" />
            <h2 *ngIf="!value.url" class="image-modal__field text-hint">Image Not Found</h2>
        </nb-card-body>
    </nb-card>
</ng-template>
<button nbButton fullWidth status="primary" size="small" (click)="open(img)">
    <nb-icon icon="image-outline" class="image-modal__close" (click)="close()"></nb-icon>View Image
</button>
