.image-modal {
    width: 75vw;
    height: 80vh;

    &__body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__close {
        cursor: pointer;
    }

    &__field {
        max-width: 100%;
        max-height: 25rem;
    }
}
