@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

// themes - our custom or/and out of the box themes
@import "themes";

// framework component themes (styles tied to theme variables)
@import "~@nebular/theme/styles/globals";
@import "~@nebular/auth/styles/all";

@import "~@nebular/theme/styles/theming";
@import "~@nebular/theme/styles/themes";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";

// loading progress bar theme
@import "./pace.theme";

@import "./layout";
@import "./overrides";

@import "~eva-icons/style/eva-icons.css";

// install the framework and custom global styles
@include nb-install() {
    // framework global styles
    @include nb-theme-global();
    @include nb-auth-global();

    @include ngx-layout();
    // loading progress bar
    @include ngx-pace-theme();

    @include nb-overrides();
}

.ng2-smart-actions {
    height: 100% !important;
}

.ng2-smart-actions > * {
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
}
.ng2-smart-actions:first-child {
    padding: 20px !important;
}

.select-item {
    > * {
        cursor: pointer;
    }
}

.selected-row {
    > * {
        background-color: nb-theme(color-info-500);

        & * {
            color: nb-theme(color-basic-200);
        }
    }
}

.disabled-row {
    > * {
        background-color: rgba(nb-theme(color-danger-600), 0.5);
    }
}

.avatar {
    width: 100px;
}

.dashboard-table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dashboard-table-disabled {
    visibility: hidden;
    opacity: 0;
}

.form-item {
    display: grid;
    grid-template-columns: 3fr 5fr;
    justify-items: start;
    padding: 0.7rem 3rem;
}

.form-errors {
    justify-self: start;
    grid-column: 2 / 3;
    margin: 0.4rem 0;
}

.select-table-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75vh;
    width: 75vw;
}

.avatar {
    width: 100px;
}

.basic-status-outline {
    padding: 0.4375rem 0.875rem;
    border-style: solid;
    border-width: 0.0625rem;
    text-transform: uppercase;
    border-radius: 0.17rem;
    font-size: 0.75rem;
    line-height: 1rem;
    cursor: default;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    width: fit-content;

    &.light {
        background-color: rgba(143, 155, 179, 0.4);
        border-color: #edf1f7;
        color: #edf1f7;
    }

    &.dark {
        background-color: rgba(143, 155, 179, 0.08);
        border-color: #2e3a59;
        color: #2e3a59;
    }
}

.primary-status-outline {
    background-color: rgba(51, 102, 255, 0.08);
    border-color: #3366ff;
    color: #3366ff;
    padding: 0.4375rem 0.875rem;
    border-style: solid;
    border-width: 0.0625rem;
    text-transform: uppercase;
    border-radius: 0.17rem;
    font-size: 0.75rem;
    line-height: 1rem;
    cursor: default;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    width: fit-content;
}

.success-status-outline {
    background-color: rgba(0, 214, 143, 0.08);
    border-color: #00d68f;
    color: #00d68f;
    padding: 0.4375rem 0.875rem;
    border-style: solid;
    border-width: 0.0625rem;
    text-transform: uppercase;
    border-radius: 0.17rem;
    font-size: 0.75rem;
    line-height: 1rem;
    cursor: default;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    width: fit-content;
}

.danger-status-outline {
    background-color: rgba(255, 61, 113, 0.08);
    border-color: #ff3d71;
    color: #ff3d71;
    padding: 0.4375rem 0.875rem;
    border-style: solid;
    border-width: 0.0625rem;
    text-transform: uppercase;
    border-radius: 0.17rem;
    font-size: 0.75rem;
    line-height: 1rem;
    cursor: default;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    width: fit-content;
}

.warning-status-outline {
    background-color: rgba(255, 170, 0, 0.08);
    border-color: #ffaa00;
    color: #ffaa00;
    padding: 0.4375rem 0.875rem;
    border-style: solid;
    border-width: 0.0625rem;
    text-transform: uppercase;
    border-radius: 0.17rem;
    font-size: 0.75rem;
    line-height: 1rem;
    cursor: default;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    width: fit-content;
}

.info-status-outline {
    background-color: rgba(0, 149, 255, 0.08);
    border-color: #0095ff;
    color: #0095ff;
    padding: 0.4375rem 0.875rem;
    border-style: solid;
    border-width: 0.0625rem;
    text-transform: uppercase;
    border-radius: 0.17rem;
    font-size: 0.75rem;
    line-height: 1rem;
    cursor: default;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    width: fit-content;
}

.basic-status {
    background-image: linear-gradient(to right, #e4e9f2, #c5cee0);
    border: none;
    box-shadow: 0 0 0 0 #8f9bb3, 0 0 20px 0 #2e3a59, none;
    color: #ffffff;
    padding: 0.4375rem 0.875rem;
    text-shadow: none;
    text-transform: uppercase;
    border-radius: 0.17rem;
    font-size: 0.75rem;
    line-height: 1rem;
    cursor: default;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    width: fit-content;
}

.primary-status {
    background-image: linear-gradient(to right, #598bff, #3366ff);
    border: none;
    box-shadow: 0 0 0 0 #274bdb, 0 0 20px 0 #1a34b8, none;
    color: #ffffff;
    padding: 0.4375rem 0.875rem;
    text-shadow: none;
    text-transform: uppercase;
    border-radius: 0.17rem;
    font-size: 0.75rem;
    line-height: 1rem;
    cursor: default;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    width: fit-content;
}

.success-status {
    background-image: linear-gradient(to right, #2ce69b, #00d68f);
    border: none;
    box-shadow: 0 0 0 0 #00b887, 0 0 20px 0 #00997a, none;
    color: #ffffff;
    padding: 0.4375rem 0.875rem;
    text-shadow: none;
    text-transform: uppercase;
    border-radius: 0.17rem;
    font-size: 0.75rem;
    line-height: 1rem;
    cursor: default;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    width: fit-content;
}

.warning-status {
    background-image: linear-gradient(to right, #ffc94d, #ffaa00);
    border: none;
    box-shadow: 0 0 0 0 #db8b00, 0 0 20px 0 #b86e00, none;
    color: #ffffff;
    padding: 0.4375rem 0.875rem;
    text-shadow: none;
    text-transform: uppercase;
    border-radius: 0.17rem;
    font-size: 0.75rem;
    line-height: 1rem;
    cursor: default;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    width: fit-content;
}

.danger-status {
    background-image: linear-gradient(to right, #ff708d, #ff3d71);
    border: none;
    box-shadow: 0 0 0 0 #db2c66, 0 0 20px 0 #b81d5b, none;
    color: #ffffff;
    padding: 0.4375rem 0.875rem;
    text-shadow: none;
    text-transform: uppercase;
    border-radius: 0.17rem;
    font-size: 0.75rem;
    line-height: 1rem;
    cursor: default;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    width: fit-content;
}

.info-status {
    background-image: linear-gradient(to right, #42aaff, #0095ff);
    border: none;
    box-shadow: 0 0 0 0 #006fd6, 0 0 20px 0 #0057c2, none;
    color: #ffffff;
    padding: 0.4375rem 0.875rem;
    text-shadow: none;
    text-transform: uppercase;
    border-radius: 0.17rem;
    font-size: 0.75rem;
    line-height: 1rem;
    cursor: default;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    width: fit-content;
}

.border-all-light {
    border: 1px solid nb-theme(color-basic-400);
}

.border-all-dark {
    border: 1px solid nb-theme(color-basic-1000);
}

.border-bottom-light {
    border-bottom: 1px solid nb-theme(color-basic-400);
}

.border-bottom-dark {
    border-bottom: 1px solid nb-theme(color-basic-1000);
}

.border-top-light {
    border-top: 1px solid nb-theme(color-basic-400);
}

.border-top-dark {
    border-top: 1px solid nb-theme(color-basic-1000);
}

.border-left-light {
    border-left: 1px solid nb-theme(color-basic-400);
}

.border-left-dark {
    border-left: 1px solid nb-theme(color-basic-1000);
}

.border-right-light {
    border-right: 1px solid nb-theme(color-basic-400);
}

.border-right-dark {
    border-right: 1px solid nb-theme(color-basic-1000);
}
