<nb-card
    accent="info"
    [nbSpinner]="loading"
    nbSpinnerStatus="primary"
    nbSpinnerSize="large"
    nbSpinnerMessage=""
>
    <nb-card-header class="dashboard-table-header">
        {{ "Contacts" | translate }}
        <button *ngIf="!loading" nbButton status="danger" size="small" (click)="resetFilters()">
            <nb-icon nbPrefix icon="refresh-outline" pack="eva"></nb-icon>
            {{ "reset_filters" | translate }}
        </button>
    </nb-card-header>

    <nb-card-body>
        <div >
            <!-- [endpoint]="endpoint" -->
            <dashboard-table
                [sourceService]="favorateConatctService"
                [actions]="actions"
                [sortFieldValueMap]="sortFieldValueMap"
                [columns]="columns"
                [filters]="filters"
                (dtCreate)="onCreate($event)"
               
                (dtLoad)="onLoad()"
            >
            </dashboard-table>
        </div>
    </nb-card-body>
</nb-card>
