<div class="form">
    <div *ngFor="let formItem of formList; let i = index" class="form__item">
        <div
            [ngClass]="{
                'border-all-light': themeName === 'default' || themeName === 'corporate',
                'border-all-dark': themeName === 'dark' || themeName === 'cosmic'
            }"
        >
            <div>
                <button
                    nbTooltip="Click to remove"
                    nbTooltipStatus="danger"
                    nbButton
                    ghost
                    status="danger"
                    (click)="onItemRemove(i)"
                >
                    <nb-icon icon="close-circle-outline"></nb-icon>
                </button>
            </div>
            <dynamic-form [formObj]="formItem" [hideSubmitButton]="true"></dynamic-form>
        </div>
    </div>

    <div class="form__btn">
        <button nbButton fullWidth status="primary" size="small" (click)="onItemAdd()">
            Add Property
        </button>
    </div>
</div>
