@import "~@nebular/theme/styles/theming";
@import "~@nebular/theme/styles/themes";

.form {
    width: 100%;
    padding: 0 1.5rem;

    &__item {
        & > *:last-child {
            border-radius: 0.3rem;
            margin-bottom: 1rem;
        }
    }

    &__btn {
        width: 100%;
    }
}
