h1,
p {
    text-align: center;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 40vw;
}

input {
    padding: 9px 12px;
    border-radius: 8px;
    border: 1px solid gray;
    width: 279px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(45deg, #04ff007d, #28c2e4);
    font-size: 21px;
    color: white;
}
