<h1>Two Factor Authentication required!</h1>

<p>
    Open google authenticator application on your smartphone and scan this QRCode to get your
    verification code
</p>

<form (ngSubmit)="submitVerificationToken()">
    <p>Enter the verification code here:</p>

    <input type="text" nbInput [formControl]="verificationToken" placeholder="(e.g: 412643)" />

    <br />

    <button nbButton type="submit" (click)="submitVerificationToken()">verify</button>
</form>
