<div *ngIf="!reload" class="container">
    <ng-container *ngFor="let viewField of getEntries(viewFields)">
        <ng-container
            *ngIf="!isEmpty(viewData[viewField.key]) && isGranted(viewField.value.permissions)"
        >
            <ngx-data-view-field
                [fieldKey]="viewField.key"
                [viewField]="viewField.value"
                [originData]="data"
                [viewData]="viewData"
            ></ngx-data-view-field>
        </ng-container>
    </ng-container>
</div>
