<span *ngIf="getBooleanValue()" class="active-field success-status-outline">
    {{ "active" | translate }}
</span>

<span *ngIf="!getBooleanValue()" class="active-field danger-status-outline">
    {{ "inactive" | translate }}
</span>
