<div class="form-item" [formGroup]="parentControl">
    <label *ngIf="itemObj.label" class="subtitle">
        {{ itemObj.label }}
    </label>
    <textarea
        nbInput
        fullWidth
        [rows]="context.rows"
        [formControlName]="key"
        [placeholder]="context.placeholder"
    ></textarea>
    <dynamic-form-errors class="form-errors" [formInterface]="control" [formkey]="itemObj.label">
    </dynamic-form-errors>
</div>
