<div [formGroup]="parentControl">
    <div [formArrayName]="key" class="form-item">
        <label *ngIf="itemObj.label" class="subtitle">
            {{ itemObj.label }}
        </label>

        <nb-form-field class="csv-view-field">
            <input
                #uploadBtn
                nbInput
                fullWidth
                [nbSpinner]="loading"
                nbSpinnerStatus="primary"
                nbSpinnerSize="large"
                nbSpinnerMessage=""
                type="text"
                class="upload-btn"
                [readonly]="true"
                [disabled]="itemObj.disabled"
                [placeholder]="btnText"
                [value]="uploaded ? btnText : ''"
                (click)="onUploadBtnClick()"
                (focus)="onUploadBtnFocus()"
                (keyup.enter)="onUploadBtnClick()"
            />
            <button nbSuffix nbButton ghost status="danger">
                <nb-icon icon="trash-2-outline" pack="eva" (click)="onResetForm()"> </nb-icon>
            </button>
        </nb-form-field>
        <input #csvInput class="csv-input" type="file" (change)="onCsvUpload($event)" />

        <dynamic-form-errors
            class="form-errors"
            [formInterface]="control"
            [formkey]="itemObj.label"
        >
        </dynamic-form-errors>
    </div>
</div>
