@import "~@nebular/theme/styles/theming";
@import "~@nebular/theme/styles/themes";

.field {
    display: grid;
    grid-template-columns: 2fr minmax(0, 5fr);
    gap: 1rem;
    justify-items: start;
    align-items: start;
    padding: 0 3rem;
    margin-bottom: 1rem;

    &.ltr {
        border-left: 0.2rem solid nb-theme(color-primary-400);
    }

    &.rtl {
        border-right: 0.2rem solid nb-theme(color-primary-400);
    }

    &__value {
        width: 100%;
        overflow-wrap: break-word;
    }

    & > div {
        padding: 1rem 0;
    }
}
