<div
    class="field"
    [ngClass]="{
        ltr: direction === 'ltr',
        rtl: direction === 'rtl'
    }"
>
    <ng-container *ngIf="!viewField.renderComponent">
        <div class="field__title subtitle">
            {{ viewField.title | translate }}
        </div>
        <div
            [ngClass]="{
                field__value: true,
                'border-bottom-light': themeName === 'default' || themeName === 'corporate',
                'border-bottom-dark': themeName === 'dark' || themeName === 'cosmic'
            }"
        >
            {{
                viewField.fieldValuePrepareFn
                    ? viewField.fieldValuePrepareFn(originData, originData[fieldKey])
                    : viewData[fieldKey]
            }}
        </div>
    </ng-container>

    <ng-container *ngIf="viewField.renderComponent">
        <div class="field__title subtitle" [ngClass]="{ 'border-rtl': direction === 'rtl' }">
            {{ viewField.title | translate }}
        </div>
        <div
            [ngClass]="{
                field__value: true,
                'border-bottom-light': themeName === 'default' || themeName === 'corporate',
                'border-bottom-dark': themeName === 'dark' || themeName === 'cosmic'
            }"
        >
            <ng-template ngxViewHost></ng-template>
        </div>
    </ng-container>
</div>
