<div class="form-item" [formGroup]="parentControl">
    <label *ngIf="itemObj.label" class="subtitle">
        {{ itemObj.label | translate }}
    </label>
    <input
        nbInput
        fullWidth
        [type]="itemObj.context.type"
        [formControlName]="key"
        [placeholder]="context.placeholder | translate"
    />
    <dynamic-form-errors class="form-errors" [formInterface]="control" [formkey]="itemObj.label">
    </dynamic-form-errors>
</div>
