<div class="form-item" [formGroup]="parentControl">
    
    <label *ngIf="itemObj.label" class="subtitle">
        {{ itemObj.label | translate }}
    </label>

    <nb-select
        class="select-input"
        fullWidth
        [formControlName]="key"
        [placeholder]="placeholderView | translate"
    >
        <nb-option *ngFor="let option of itemObj.context.options" [value]="option.value">
            {{ option.title }}
        </nb-option>
    </nb-select>
    
    <dynamic-form-errors class="form-errors" [formInterface]="control" [formkey]="itemObj.label | translate">
    </dynamic-form-errors>

</div>
