<nb-form-field>
    <nb-select fullWidth [formControl]="listControl">
        <nb-option *ngFor="let option of options" [value]="option.value">
            {{ option.title }}
        </nb-option>
    </nb-select>
</nb-form-field>
